h1 {
	font-size: xx-large;
	margin: 5px;
}


section {
	width: 80%;	
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
    margin-bottom: 100px;
}

table {
	width: 80%;
	margin: 0 auto;
    margin-top: 10px;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
}

th {
	background-color: #ccc;
}

td, th {
	text-align: center;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
	padding: 10px 8px;
}

#seachMemberForm {
	width: 80%;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 50px;
}

#clsfc {
	display: inline-block;
	position: relative;
	width: 100px;  
	border: 1px solid #999;   
	z-index: 1;  
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#clsfc.focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#clsfc:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #313131;
}

#clsfc label {
  position: absolute;
  top: 1px;
  
  left: 5px;
  
  padding: .5em .5em;
  
  color: #333;
  z-index: -1;
}


#clsfc select {
  width: 100%;
  height: auto;  
  line-height: normal;
  font-family: inherit;
  padding: .8em .5em;
  border: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#search {
	padding: 10px 0px;
    width: 300px;
}

#seachMember {
	margin: 9px;
    width: 90px;
    height: 40px;
    font-size: initial;
    background-color: #9f8170;
	color: #fff;
}

.banClass {
	text-align: right;
    width: 80%;
    margin: 0 auto;
    margin-top: 22px;
}

.banClass button {
	margin: 2px;
    width: 68px;
    height: 32px;
}

input[type="ckeckbox"] {
	width: 16px;
    height: 16px;
}