h1 {
	font-size: xx-large;
	margin: 5px;
}


section {
	width: 80%;	
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
    margin-bottom: 100px;
}

#checkArea {
	margin: 20px;
}

#formArea {
	margin: 20px;	
}

.inputText {
	margin-top: 38px;	
}

.inputText input {
	border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    width: 50%;	
    padding-bottom: 10px;
}

#checkBtns {
	margin: 0 auto;
    width: 80%;
    text-align: right;
    margin-top: 30px;
}

.checkBtn {
	margin: 9px;
    width: 90px;
    height: 40px;
    font-size: initial;
}

#findIdArea {
	font-size: larger;
    margin: 90px;
}

#emailEnd {
	margin: 60px;
    font-size: larger;
}
