h1 {
	font-size: xx-large;
	margin: 5px;
}


section {
	width: 80%;	
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
    margin-bottom: 100px;
}

#loginTitle {
	margin: 33px;	
}

#emailLogin {
	margin-top: 30px;
    float: left;
    width: 47%;	
    padding-left: 50px;
    text-align: left;
}

#socialLogin {
	margin-top: 43px;
    float: right;
    width: 47%;	
}

.emailLoginForm {
	margin-top: 20px;
    margin-bottom: 20px;	
}

.idpwInput {
	width: 85%;
    height: 34px;
}

#loginBtn {
	width: 90px;
    height: 40px;
    font-size: initial;
    margin-left: 9px;
    background-color: #9f8170;
    color: #fff;
}

.socialLoginBtn {
	margin-top: 20px;
    margin-bottom: 20px;
}

#heightLine {
	display: inline-block;
    width: 1px;
    height: 239px;
    margin-top: 36px;
    background-color: #000;	
}

#loginBox {
	
	
}