table, th, td {
	margin: auto;
}

table {
	border-collapse: collapse;
}

td {
	width: 150px;
	height: 80px;
	padding-left: 5px;
	vertical-align: top;
}

th, td {
	border: 1px solid #ddd;
}

th {
	background: #F2F2F2;
}

tr th:first-child {
	border-left: none;
}

tr th:last-child {
	border-right: none;
}

tr td:first-child {
	border-left: none;
}

tr td:last-child {
	border-right: none;
}

tr#dayWeek th {
	text-align: center;
}

#btnLeft {
	float: left;
}

#btnRight {
	float: right;
	display: block;
}

#btnRightHide {
	float: right;
	display: none;
}

#year {
	width: 84px;
	height: 50px;
	border: none;
	font-size: 30px;
}

#month {
	width: 52px;
	height: 50px;
	border: none;
	font-size: 30px;
	text-align: right;
}

#controllDay a:first-child {
	font-size: 50px;
	float: left;
}

#controllDay a:last-child {
	font-size: 50px;
	float: right;
}

.scheduleBnt {
	margin: auto;
	width: 200px;
}

.schedule {
	background-color: #F2F2F2;
	border-bottom : 2px solid gray;
	position: relative;
}

.scheduleCheckbox {
	position: absolute;
	right: 0;
	width: 15px;
	height: 15px;
}

td.schedule:hover {
	display: block;
	box-shadow: 3px 3px 3px gray;
}

td.schedule>a {
	width: 122px;
	height: 74px;
	display: block;
}

#frm>a {
	color: #7a7a7a;
}

#frm>a:hover {
	color: black;
}

.btn {
	font-size: 15px;
	font-family: Arial;
	width: 100px;
	height: 35px;
	border-width: 1px;
	color: #777777;
	border-color: #dcdcdc;
	font-weight: bold;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(#ededed, #dfdfdf);
}

.btn:hover {
	background: linear-gradient(#dfdfdf, #ededed);
}

.mid_content{
	display: inline-block;
	width:1123px;
	height:165px;
	background-color: var(--color-dark-sky);
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	border-radius: 9px;
}

.side_content_box{
	display: inline-block;
	width:100px;
	height:100px;
	background-color:white;
	margin: 9px;
	margin-left: 65px;
	margin-top: 36px;
	float: left;
	text-align: center;
	border-radius: 9px;
}

.side_rigth_box{
	display: inline-block;
	width:610px;
	height:147px;
	background-color:white;
	margin: 9px;
	margin-left: 38px;
	border-radius: 9px;
	overflow: auto;
}

.underScheduleDate {
	width: 90px;
    height: 30px;
    position: absolute;
    margin-left: 9px;
    margin-top: 12px;
    border: 1px solid var(--color-dark-grey);
	outline: none;
	border-radius: 9px;
	background-color: var(--color-light-grey);
}

.underScheduleList {
	background-color: var(--color-dark-sky);
	width: 100%;
	height: 100%;
	text-align: center;
}
