h1 {
	font-size: xx-large;
	margin: 5px;
	text-align: center;
}


section {
	width: 70%;	
	margin: 0 auto;
	text-align: left;
	margin-top: 100px;
    margin-bottom: 100px;
}

#bookThum {
	width: 120px;
	height: 174px;
	background-color: #ccc;
	margin: 0 auto;
}

#bookName {
	width: 100%;
	background-color: #fff;
	height: 30px;
}

#book, #list_content {
	border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

#bookBtn, #todolistInsert {
	width: 56px;
    height: 34px;
    font-size: initial;
}

#seachTable {
	width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
   	margin: 40px 0px;
}

#seachTable tr {
	border: 1px solid #000;
}


td, th {
	padding: 10px 5px;
}

#todolistTable {
	width: 100%;
    border-collapse: collapse;
    text-align: center;
   margin: 100px 0px;
}

#todolistTable tr {
	border-bottom: 1px solid #000;
}

#emailSend, #todolistDelete  {
	margin: 0px 10px;
    width: 90px;
    height: 40px;
    font-size: initial;
}


.todolistCheck {
	position: absolute;
	clip: rect(0,0,0,0);
}

.todolistCheck + label::before {
	content: '\a0';
	display: inline-block;
	vertical-align: .2em;
	width: 1.2em;
	height: 1.2em;
	margin-right: .2em;
	border-radius: .2em;
	background: silver;
	text-indent: .15em;
	line-height: .65;
}

.todolistCheck:checked + label::before {
	content: '\2713';
	background: #9f8170;
}

.todolistCheck:focus + label::before {
	box-shadow: 0 0 .1em .1em #58a;
}

.todolistCheck:disabled + label::before {
	background: gray;
	box-shadow: none;
	color: #555;
	cursor: not-allowed;
}