<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="web.admin.dao.face.AdminReviewDao">
 
  	<sql id="selectReview">
		SELECT
			review_no, user_no, nick, review_title
			, review_content, review_date, review_views
		FROM review
	</sql>

	<sql id="whereTitleSearch">
		WHERE REVIEW_TITLE LIKE '%' || #{search} || '%'
	</sql>
	
	<sql id="whereReviewNo">
		WHERE review_no = #{review_no}	
	</sql>
 
 	<!-- 글 개수 세기 -->  
	<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
		SELECT COUNT(*) FROM (
			<include refid="selectReview"/>
			<include refid="whereTitleSearch"/>
		)
	</select>
 	
 	<!-- 글 전체 목록 조회 -->
	<select id="selectList" resultType="web.user.dto.Review" parameterType="web.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, R.* FROM (
				<include refid="selectReview"/>
				<include refid="whereTitleSearch"/>
				ORDER BY review_no DESC
			) R
		) R
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
 	
 	<!-- 글번호로 글정보 조회 -->
	<select id="selectReviewByReviewNo" resultType="web.user.dto.Review" parameterType="web.user.dto.Review">
		<include refid="selectReview"/>
		<include refid="whereReviewNo"/>
	</select>
 	
 	<!-- 글번호로 파일정보 조회 -->
	<select id="selectReviewfileByReviewNo" resultType="web.user.dto.Review_file" parameterType="web.user.dto.Review">
		SELECT
			file_no, review_no, origin_name, stored_name
		FROM review_file
		WHERE review_no = #{review_no}
	</select>
 	
 	<select id="selectTotalCntRecommend" parameterType="web.user.dto.Review_rec" resultType="int">
		SELECT COUNT(*) FROM review_rec
		WHERE review_no = #{review_no}
	</select>
 	
 	<select id="selectComment" parameterType="web.user.dto.Review" resultType="web.user.dto.Rv_cmt">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					comment_no
					, review_no
					, user_no
					, nick
					, comment_content
					, comment_write_date
				FROM Rv_cmt
				WHERE review_no = #{review_no}
				ORDER BY comment_write_date
			) B
		) ORDER BY rnum
	</select>
 	
 	<!-- 파일번호로 파일정보 조회 -->
	<select id="selectReviewfileByFileno" resultType="web.user.dto.Review_file" parameterType="int">
		SELECT
			file_no, review_no, origin_name, stored_name
		FROM review_file
		WHERE file_no = #{file_no}
	</select>
 	
 	<!-- 파일 삭제 -->
	<delete id="deleteFile" parameterType="web.user.dto.Review">
		DELETE review_file
		WHERE review_no = #{review_no}
	</delete>
	
	<!-- 글 삭제 -->
	<delete id="delete" parameterType="web.user.dto.Review">
		DELETE review
		WHERE review_no = #{review_no}
	</delete>
 	
 	<delete id="deleteComment" parameterType="web.user.dto.Rv_cmt">
		DELETE Rv_cmt
		WHERE comment_no = #{comment_no}
	</delete>

	<select id="countComment" parameterType="web.user.dto.Rv_cmt" resultType="int">
		SELECT COUNT(*) 
		FROM Rv_cmt 
		WHERE comment_no = #{comment_no}
	</select>
 
 </mapper>