<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="web.admin.dao.face.AdminFamousDao">
 
   	<sql id="selectFamous">
		SELECT
			famous_no, user_no, nick, famous_content
			, famous_date
		FROM famous
	</sql>

	<sql id="whereSearch">
		WHERE famous_content LIKE '%' || #{search} || '%'
	</sql>
	
	<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
		SELECT COUNT(*) FROM (
			<include refid="selectFamous"/>
		<if test="search != null and !''.equals(search)">
		WHERE famous_content LIKE '%' || #{search} || '%'
		</if>
		)
	</select>	
	
	<select id="selectList" resultType="hashmap" parameterType="hashmap">
		SELECT
			R.*
			<if test="user_no != null and !''.equals(user_no)">
			, ( SELECT count(*) FROM FAMOUS_REC FR WHERE FR.famous_no = R.famous_no AND FR.user_no = #{user_no} ) isRecommend
			</if>
			, ( SELECT count(*) FROM FAMOUS_REC FR WHERE FR.famous_no = R.famous_no ) cntRecommend
		FROM (
			SELECT rownum rnum, F.* FROM (
				<include refid="selectFamous"/>
				<if test="paging.search != null and !''.equals(paging.search)">
				WHERE famous_content LIKE '%' || #{paging.search} || '%'
				</if>
				ORDER BY famous_no DESC
			) F
		) R
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>	
	
	<select id="selectTotalCntRecommend" parameterType="web.user.dto.Famous_rec" resultType="int">
		SELECT COUNT(*) FROM famous_rec
		WHERE famous_no = #{famous_no}
	</select>	
	
	<delete id="deleteFamous" parameterType="web.user.dto.Famous">
		DELETE famous
		WHERE famous_no = #{famous_no}
	</delete>	
	
	<select id="countFamous" resultType="int" parameterType="web.user.dto.Famous">
		SELECT COUNT(*) FROM famous 
		WHERE famous_no = #{famous_no}
	</select>	
 
 
 </mapper>