<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.user.dao.face.Famous_recDao">
	
	<select id="selectCntRecommend" parameterType="web.user.dto.Famous_rec" resultType="int">
		SELECT count(*) FROM famous_rec
		WHERE user_no = #{user_no}
			AND famous_no = #{famous_no}
	</select>

	<insert id="insertRecommend" parameterType="web.user.dto.Famous_rec">
		INSERT INTO famous_rec
		VALUES ( #{user_no}, #{famous_no} )
	</insert>
	
	<delete id="deleteRecommend" parameterType="web.user.dto.Famous_rec">
		DELETE famous_rec
		WHERE user_no = #{user_no}
			AND famous_no = #{famous_no}
	</delete>
	
	<select id="selectTotalCntRecommend" parameterType="web.user.dto.Famous_rec" resultType="int">
		SELECT COUNT(*) FROM famous_rec
		WHERE famous_no = #{famous_no}
	</select>
	
</mapper>