<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.user.dao.face.MainDao">
	
	<select id="selectMeetingList" resultType="web.user.dto.Meeting">
		SELECT ROWNUM, M.* FROM (
			SELECT
				meeting_no, user_no, meetingtype_no, area_no, book_class_no,
				meeting_location, meeting_title, meeting_content, meeting_rcr_start,
				meeting_rcr_end, meeting_start, meeting_end, meeting_personnel,
				meeting_address, meeting_board_date, meeting_approved
			FROM meeting
			WHERE meeting_approved = '1'
			ORDER BY meeting_no DESC) M 
			WHERE ROWNUM BETWEEN 1 AND 10
	</select>
	
	<select id="selectNoticeList" resultType="web.user.dto.Notice" >
		SELECT ROWNUM, B.* FROM (
			SELECT
			board_no, board_title, board_content
			, board_date, type, hit
		FROM NOTICE
		ORDER BY board_no DESC
		) B
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectReviewList" resultType="web.user.dto.Review" >
		SELECT ROWNUM, R.* FROM (
			SELECT
			review_no, user_no, nick, review_title
			, review_content, review_date, review_views
			FROM review
			ORDER BY review_views DESC
		) R
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
</mapper>