<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.user.dao.face.MeetingDao">
	
	<select id="selectList" parameterType="web.util.Paging" resultType="web.user.dto.Meeting">
		SELECT meeting_no, user_no, meetingtype_no, area_no, book_class_no,
				meeting_location, meeting_title, meeting_content, meeting_rcr_start,
				meeting_rcr_end, meeting_start, meeting_end, meeting_personnel,
				meeting_address, meeting_board_date, meeting_approved
		FROM (
   			 SELECT rownum rnum, L.*
   			 FROM (
       			 SELECT meeting_no, user_no, meetingtype_no, area_no, book_class_no,
				meeting_location, meeting_title, meeting_content, meeting_rcr_start,
				meeting_rcr_end, meeting_start, meeting_end, meeting_personnel,
				meeting_address, meeting_board_date, meeting_approved
       			 FROM meeting
       			 <trim prefix="WHERE" prefixOverrides="AND|OR">
					<if test="area_no!=null">
					AND area_no in
						<foreach collection="area_no" item="item" index="index" open="(" close=")" separator=",">
							#{item }
						</foreach>
					</if>
					<if test="meetingtype_no!=null">
					AND meetingtype_no in
						<foreach collection="meetingtype_no" item="item1" index="index" open="(" close=")" separator=",">
							#{item1 }
						</foreach>
					</if>
					<if test="book_class_no!=null">
					AND book_class_no in
						<foreach collection="book_class_no" item="item2" index="index" open="(" close=")" separator=",">
							#{item2 }
						</foreach>
					</if>
					<![CDATA[
					AND meeting_approved = 1 AND meeting_end > TO_CHAR(SYSDATE,'YYYY-MM-DD')
					]]>
					<if test='searchType!="" and searchWord!="" and searchType.equals("meeting_title")'>
						AND meeting_title LIKE
					</if>
					<if test='searchType!="" and searchWord!="" and searchType.equals("nick")'>
						AND nick LIKE
					</if>
				</trim>
					<if test='searchType!="" and searchWord!=""'>
						'%' || #{searchWord } || '%'
					</if>
       			 ORDER BY meeting_no DESC
       		 ) L
   		 ) list
		WHERE rnum BETWEEN ${paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectEndList" parameterType="web.util.Paging" resultType="web.user.dto.Meeting">
		SELECT * FROM (SELECT rownum rnum, M.* FROM (
			SELECT
				meeting_no, user_no, meetingtype_no, area_no, book_class_no,
				meeting_location, meeting_title, meeting_content, meeting_rcr_start,
				meeting_rcr_end, meeting_start, meeting_end, meeting_personnel,
				meeting_address, meeting_board_date, meeting_approved
			FROM meeting
			<![CDATA[
			WHERE meeting_approved = 1 AND meeting_end <= TO_CHAR(SYSDATE,'YYYY-MM-DD')
			]]>
		ORDER BY meeting_no DESC) M) R WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM meeting
	</select>
	
	<select id="selectMeetingByMeetingno" parameterType="web.user.dto.Meeting" resultType="web.user.dto.Meeting">
		SELECT
				meeting_no, user_no, meetingtype_no, area_no, book_class_no,
				meeting_location, meeting_title, meeting_content, meeting_rcr_start,
				meeting_rcr_end, meeting_start, meeting_end, meeting_personnel,
				meeting_address, meeting_board_date, meeting_approved
		FROM meeting
		WHERE meeting_no = #{no }
	</select>
	
<!-- 	<select id="selectMeeting" parameterType="web.user.dto.SearchMeeting" resultType="web.user.dto.SearchMeeting">
			SELECT * FROM (
				SELECT * FROM meeting
				where meeting_no = #{meeting_no }
			ORDER BY meeting_no DESC)
		<where>

			<if test="areaList != null">
					area_no in <foreach item="area" collection="areaList" open="(" close=")" separator="," >
						#{area}
					</foreach>
			</if>
			<if test="typeList != null">
					and meetingtype_no in <foreach item="type" collection="typeList" open="(" close=")" separator="," >
						#{type}
					</foreach>
			</if>
			<if test="bookList != null">
					and book_class_no in <foreach item="book" collection="bookList" open="(" close=")" separator="," >
						#{book}
					</foreach>
			</if>
			
			<choose>
				<when test="searchType == 'user_no'">
					and user_id like '%' || #{searchWord} || '%'
				</when>
				<when test="searchType == 'meeting_title'">
					and meeting_title like '%' || #{searchWord} || '%'
				</when>
			</choose>
		</where>
	</select> -->
	
	<insert id="insert" parameterType="web.user.dto.Meeting">
		INSERT INTO meeting (meeting_no, user_no, meetingtype_no, area_no, book_class_no,
							 meeting_location, meeting_title, meeting_content, meeting_rcr_start,
							 meeting_rcr_end, meeting_start, meeting_end, meeting_personnel,
							 meeting_address, meeting_approved )
		VALUES ( meeting_seq.nextval, #{user_no}, #{meetingtype_no}, #{area_no}, #{book_class_no},
				 #{meeting_location}, #{meeting_title}, #{meeting_content}, #{meeting_rcr_start},
				 #{meeting_rcr_end}, #{meeting_start}, #{meeting_end}, #{meeting_personnel},
				 #{meeting_address}, #{meeting_approved} )
	</insert>

	<delete id="delete" parameterType="web.user.dto.Meeting">
		DELETE meeting
		WHERE meeting_no = #{meeting_no}
	</delete>

	<select id="selectParticipation" resultType="web.user.dto.Participation" parameterType="HashMap">
		SELECT * FROM Participation
		WHERE user_no = #{user_no } AND meeting_no = #{meeting_no}
	</select>
	
	<insert id="insertParticipation" parameterType="web.user.dto.Participation">
		INSERT INTO participation (meeting_no, user_no)
		VALUES ( #{meeting_no}, #{user_no} )
	</insert>
	
	<delete id="deleteParticipation" parameterType="web.user.dto.Participation">
		DELETE participation
		WHERE user_no = #{user_no } AND meeting_no = #{meeting_no}
	</delete>
	
</mapper>