<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.user.dao.face.UserFAQDao">
  
  	<sql id="selectFAQ">
  		SELECT
  			board_no, board_title, board_content
  			, board_date, type, hit
  		FROM faq
  	</sql>
  	
  	<sql id="whereTitleSearch">
  		WHERE board_title LIKE '%' || #{search} || '%'
  	</sql>
  
  
  	<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
  		SELECT COUNT(*) FROM (
  			<include refid="selectFAQ" />
  			<include refid="whereTitleSearch" />
  		)
  	</select>
  	
  	<select id="selectAll" resultType="web.user.dto.FAQ" parameterType="web.user.dto.FAQ">
  		SELECT * FROM (
  			SELECT rownum rnum, B.* FROM(
  				<include refid="selectFAQ" />
  				<include refid="whereTitleSearch" />
  			ORDER BY board_no DESC
  			) B
  		) R
  		WHERE rnum BETWEEN #{startNo } AND #{endNo }
  		<if test="type != 0">
		AND type = #{type }
		</if>
  	</select>
  
  	<select id="selectFAQByBoardno" resultType="web.user.dto.FAQ" parameterType="web.user.dto.FAQ">
  		SELECT * FROM faq
  		WHERE board_no = #{board_no }
  	</select>
  
  	<update id="hit" parameterType="web.user.dto.FAQ">
  		UPDATE faq
  		SET hit = hit + 1
  		WHERE board_no = #{board_no }
  	</update>
  
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  